.App {
  text-align: center;
}

.App-header {
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.wrap {
  width: 800px;
  margin: 0 auto;
  background: white;
}

.button {
  border-radius: 0.9375rem 0 0.9375rem 0.9375rem;
  color: #343232;
  font-size: large;
  border: 0;
  padding: 8px;
}

