.station-name {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 2;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
    font-weight: bold;
}

.long-lat {
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
    text-transform: uppercase;
}